.my-masonry-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-left: -1.5rem; /* gutter size offset */
    margin-top: 6.125rem;
    padding: 1.5rem;
    
    &__column{
        padding-left: 1.5rem; /* gutter size */
        background-clip: padding-box;
    }

    .thumbnail{
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 767px){
        width: 100%;

        .thumbnail, .thumbnail img{
            width: 100%;
            height: auto;
        }
    }

    @media screen and (min-width: 550px){
        margin-left: -2.5rem;

        &__column{
            padding-left: 2.5rem;
        }

        .thumbnail{
            margin-bottom: 2.5rem;
        }
    }
    
    @media screen and (min-width: 768px){
        padding: 2.5rem;
    }

    @media screen and (min-width: 1100px){
        margin-top: 8.125rem;
    }
}