.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    padding: 1.5rem; 
    margin-top: 6.125rem;
    
    .col{
        width: 327px;
    }

    .thumbnail{
        margin-bottom: 1.5rem;
    }
    
    @media screen and (min-width: 768px){
        padding: 2.5rem;
        width: 48rem;
    }

    @media screen and (min-width: 1100px){
        margin-top: 8.125rem;
    }

    @media screen and (min-width: 1440px){
        
    }
}