.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid $light-gray;

    button{
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        background: transparent;
    }

    @media screen and (min-width: 768px){
        padding: 2rem 2.5rem;
    }

    @media screen and (min-width: 1440px){
        padding: 2.5rem;
    }
}