button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.toggle-slideshow{
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    color: $gray;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 1.93px;
    font-weight: $fw-bold;
    
    &:hover{
        color: $black;
    }
}

.close-btn{
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 3px;
    font-weight: $fw-bold;
    color: $white;

    &:hover{
        color: $gray;
        text-decoration: underline;
    }

}

.previous-painting-btn{
    transform: rotate(180deg);
}

.previous-painting-btn, .next-painting-btn{
    background-position: center;
    background-size: cover;
    width: 1.625rem;
    height: 1.5rem;


    &--disabled{
        cursor:auto;
    }
}

.link-btn{
    text-transform: uppercase;
    color: $gray;
    font-size: 0.5625rem;
    line-height: 11.16px;
    letter-spacing: 1.93px;
    font-weight: $fw-bold;

    &:hover{
        color: $black;
    }
}

.view-image-btn{
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: 2.14px;
    text-transform: uppercase;
    color: $white;
    background: rgba(0,0,0,0.9);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    img{
        margin-right: 1rem;
    }

    &:hover{
        background: rgba(0,0,0,0.3);
    }
}

@media screen and (min-width: 768px){
    .toggle-slideshow{
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 2.57px;
    }
}