.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: $gray;
    color: $white;
    border: none;
    cursor: pointer;
    text-align: left;
    position: relative;

    img{
        width: 327px;
    }

    figcaption{
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;

    }
}