.thumbnail{
    text-decoration: none;
    background: $gray;
    color: $white;
    width: 100%;
    height: 250px;
    display: grid;

    figcaption{
        justify-self: flex-start;
        align-self: flex-end;
        padding: 2rem;
    }
}