.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: $gray;
    color: $white;
    border: none;
    cursor: pointer;
    text-align: left;
    position: relative;
    overflow: hidden;

    img{
        width: 327px;
        backface-visibility: hidden;
        transition: transform 0.5s ease-in-out;
    }

    &:hover img{
        transform: scale(1.05);
    }

    &:hover::after{
        content:"";
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        position:absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    figcaption{
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 3;
    }

    &:hover figcaption{
        opacity: 1;
        z-index: 2;
    }
}