.painting-details{
    padding: 1.5rem;
    margin-top: 6.125rem;
    
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid $light-gray;
        background: $white;
    }

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        margin-bottom: 6.125rem;

        h2{
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: $fw-bold;
        }

        h3{
            font-size: 1rem;
            line-height: 1.125rem;
            font-weight: $fw-regular;
            color: $gray;
        }

        figcaption{
            padding: 1.5rem;
            position: absolute;
            left: -1px;         //would have been 0, used to fix a display bug 
            bottom: -20%;
            background: $white;
            width: 17.5rem;
            height: fit-content;
        }

        picture img{
            width: 100%;
        }

        button{
            position: absolute;
            left: 1rem;
            top: 1rem;
        }
    }
    

    article{
        padding-bottom: 7.75rem;
        z-index: 1;

        p{
            margin-bottom: 2.5rem;
            z-index: 2;
        }

        time{
            font-size: 6.25rem;
            line-height: 6.25rem;
            font-weight: $fw-bold;
            color: $very-light-gray;
            position: relative;
            bottom: -1rem;
            text-align: right;
            display: block;
            z-index: -1;
        }
    }

    &__modal{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__modal-content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button{
            margin-bottom: 2rem;
        }

        img{
            height: 65vh;
        }
    }

    &__main-infos *{
            display: block;
    }

    &__previous-painting-btn{
        margin-right: 1.5rem;
    }

    @media screen and (min-width: 768px){
        padding: 2.5rem;
        margin-top: 8.125rem;

        footer{
            padding: 1.5rem 2.5rem;
        }

        aside{
            width: 100%;

            h2{
                font-size: 3.5rem;
                line-height: 4rem;
            }
            
            picture img{
                width: 475px;
            }

            figcaption{
                width: 27.875rem;
                left: auto;
                right: 0;
                top: -1px;
                padding: 0 4rem 4rem 4rem;
            }
        }

        &__description-container{
            width: 35.5rem;
        }

        &__previous-painting{
            margin-right: 2.5rem;
        }
    }

    @media screen and (min-width: 1440px){
        main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 85rem;
        }

        article{
            time{
                font-size: 12.5rem;
                line-height:  9.375rem;
                bottom: -2rem;
            }

            p{
                width: 21.875rem;
            }
        }
    }
}